
:root{
--basic-black:#000000;
--basic-blacksmall:#333333;
--basic-white:#FFFFFF;
--basic-dark:#EEEEEE;
--extra-dark:#f2f2f2;
--basic-blue:#81B3D2;
--basic-brown:#766357;
--basic-dark-footer:rgba(255, 255, 255, 0.9);
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--extra-dark);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*navigation*/
.main-navigation {
front-size: 16px;
line-height: 24px;
color:var(--basic-black);
background-color: var(--basic-white);
}
.site-navigation {
  list-style: none;
  font-weight: bold;
font-size: 14px;
line-height: 26px;
color:var(--basic-black);
background-color: var(--basic-white);
}
.site-navigation li {
  display: inline;
}
.site-navigation a:hover,
.site-navigation a:focus,
 {
  background-color: var(--basic-blue);}
  .center{
    background-color: var(--basic-white);
  }
  .p1{
    text-align: center;
background-color: var(--basic-white);
font-size: 21px;
line-height: 26px;
font-weight: bold;


  }
  .p2 {
        text-align: center;
  background-color: var(--basic-white);
  font-size: 14px;
line-height: 21px;
  }
  /*hotels page*/
  .filtersearch{
    color: var(--basic-white);

  /*  background-image: url(img/background.png);
    position: absolute;
width: 1200px;
height: 217px;
left: 40px;
top: 56px;*/

  }
  .filterresult li{
    display: inline;
  }
  .resultserch {
    background-color: var(--basic-white);
  }

  .filtersearch legend{
    font-weight: normal;
font-size: 16px;
line-height: 21px;
color: var(--basic-white);
}
.infrastructura-list{}
  .infrastructura-item{
    font-weight: normal;
font-size: 14px;
line-height: 21px;
color: var(--basic-white);}
.typeroom-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}
.hotels{
  font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
}
.hotelsname{
  font-family: PT Sans;
font-style: normal;
font-weight:bold;
font-size: 21px;
line-height: 26px;
}

  /*features*/
  .feature-list {
  list-style: none;
}
  .feature-item-blue{
    background-color: var(--basic-blue);
    font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);}

.feature-item-blue h3{
  background-color: var(--basic-blue);
  font-size: 21px;
line-height: 26px;
text-align: center;
color: var(--basic-white);
}
.feature-item-dark{
  background-color: var(--basic-dark);
  font-size: 14px;
line-height: 21px;
text-align: center;
color: var(--basic-blacksmall);
  }
  .feature-item-dark h3{
    background-color: var(--basic-dark);
    font-size: 21px;
  line-height: 26px;
  text-align: center;
    }
    .service{
      background-color: var(--basic-white);
    }
    .service-list{
      list-style: none;
    }
    .service-item h3{
      color: var(--basic-black);
      background-color: var(--basic-white);
      font-size: 21px;
    line-height: 21px;
    }
.service-item {
  list-style: none;
  font-size: 14px;
line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-blacksmall);
}
.interest {
  background-color: var(--basic-white);
font-size: 14px;
line-height: 21px;
}
.interest h2{
  background-color: var(--basic-white);
  font-weight: bold;
font-size: 30px;
line-height: 24px;
}
/* Contacts */

.footer-contacts {
  color: var(--basic-black);
}
/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-dark-footer);
}
.footer-contacts  {
  color: var(--basic-black);
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}
.footer-social {
  text-align: center;
}
.footer-copyright{
  text-align: right;
}
.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;

}
/* Как задать серый цвет в дата заезда и т.п*/
.searchhotel{
  background-color: var(--basic-brown);
color: var(--basic-white);
font-weight: bold;
font-size: 21px;
line-height: 26px;
}
.search{
  background-color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

/* Social button */
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  font-size: 21px;
  line-height: 26px;
}
.button-hotels{
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
.button-reserved{
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
.button-find{
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  font-size: 14px;
  line-height: 21px;
}
.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-dark-footer);
}
.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-dark-footer);
}
