
:root{
--basic-black:#000000;
--basic-blacksmall:#333333;
--basic-white:#FFFFFF;
--basic-dark:#EEEEEE;
--extra-dark:#f2f2f2;
--basic-blue:#81B3D2;
--basic-brown:#766357;
--basic-dark-footer:rgba(255, 255, 255, 0.9);
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--extra-dark);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;

}
/*Grid*/
.page{
  height:100%
}
.page-bode{
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content:start
}
/* Main header*/
.main-header{
  margin-bottom: 70px;
  outline:5px solid rgba(0,255,0,0.7);
  outline-offset: -5px;
}
/* Main footer */
.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-dark-footer);
  outline: 5px solid rgba(255,0,0,0.5);
  outline-offset: -5px;
}
.main-header-logo{
  /*--order: 1;*/
/* loat: right;
width: 800px; */
  outline:5px solid rgba(255,0,0,0.3);
  outline-offset: -5px;
}
/*navigation*/
.main-navigation {
width: 1200px;
margin: 0 auto;
font-size: 16px;
line-height: 24px;
color:var(--basic-black);
background-color: var(--basic-white);
}
/*container*/
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 40px;
}
.site-navigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  /* text-align: center; */
  outline: 5px solid rgba(0,255,255,0.3);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 56px;
  list-style: none;
  font-weight: bold;
font-size: 14px;
line-height: 26px;
color:var(--basic-black);
background-color: var(--basic-white);
}
.navigationpage{
  font-weight: bold;
font-size: 14px;
line-height: 26px;
text-align: center;
margin-top: 15px;
color:var(--basic-black);
}
/* .site-navigation li {
  display: grid;
  grid-row-start: 1;

}
.site-navigation img{
  display: grid;
  /* margin-left: auto;
  margin-right: auto; */
} */
.site-navigation a:hover,
.site-navigation a:focus,
 {
  background-color: var(--basic-blue);}
  .center{
    background-color: var(--basic-white);
  }
  .sedonamain{
    text-align: center;
background-color: var(--basic-white);
font-size: 21px;
line-height: 26px;
font-weight: bold;


  }
  .sedonamain2 {
        text-align: center;
  background-color: var(--basic-white);
  font-size: 14px;
line-height: 21px;
  }
  /*hotels page*/
  .filtersearch{
    color: var(--basic-white);
  }
  .filterresult li{
    display: inline;
  }
  .resultserch {
    background-color: var(--basic-white);
  }

  .filtersearch legend{
    font-weight: normal;
font-size: 16px;
line-height: 21px;
color: var(--basic-white);
}
.infrastructura-list{}
  .infrastructura-item{
    font-weight: normal;
font-size: 14px;
line-height: 21px;
color: var(--basic-white);}
.typeroom-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}
.hotels{
  font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
}
.hotelsname{
  font-family: PT Sans;
font-style: normal;
font-weight:bold;
font-size: 21px;
line-height: 26px;
}

  /*features*/

  .feature-list {
    /* outline: 15px solid rgba(255, 0, 0, 0.5); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
.feature-list-grid-img{
  grid-column: span 2;
  list-style: none;
  height: 256px;

}
  .feature-item-blue{
    background-color: var(--basic-blue);
    font-size: 14px;
  line-height: 21px;
  height: 256px;
  width: 400px;
  text-align: center;
  color: var(--basic-white);}

.feature-item-blue h3{
  background-color: var(--basic-blue);
  font-size: 21px;
line-height: 26px;
text-align: center;
/* width: 122px;
height: 43px; */
color: var(--basic-white);
margin: 47px 139px 25px 139px;
}
.feature-item-blue2{
  background-color: var(--basic-blue);
  font-size: 14px;
line-height: 21px;
height: 256px;
width: 400px;
text-align: center;
color: var(--basic-white);
}

.feature-item-blue2 h3{
  background-color: var(--basic-blue);
  font-size: 21px;
line-height: 26px;
text-align: center;
/* width: 122px;
height: 43px; */
color: var(--basic-white);
/* margin: 50px 1259px 163px 126px; */
margin-top: 50px;
}

.number1{
  background-color: var(--basic-blue);
  font-size: 14px;
line-height: 21px;
width: 51px;
height: 21px;
text-align: center;
color: var(--basic-white);
margin: 25px 174px 23px 175px;
}
.sedona11{
  background-color: var(--basic-blue);
  font-size: 14px;
line-height: 21px;
height: 43px;
width: 297px;
text-align: center;
color: var(--basic-white);
margin-bottom: 54px;
margin-left: 52px;
/* НЕ МОГУ ОТЦЕНТРИРОВАТЬ! */
}
.bridge{
  background-color: var(--basic-blue);
  font-size: 14px;
line-height: 21px;
height: 43px;
width: 297px;
text-align: center;
color: var(--basic-white);
margin-bottom: 54px;
margin-left: 52px;
/* НЕ МОГУ ОТЦЕНТРИРОВАТЬ! */
}
.row2{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  background-color: var(--basic-white);
  font-size: 14px;
line-height: 21px;

 padding: 40px 0;
text-align: center;
color: var(--basic-blacksmall);
}
.row2 h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.row4{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  background-color: var(--basic-dark);
  font-size: 14px;
  line-height: 21px;
  padding: 40px 0;
  text-align: center;
  color: var(--basic-black);
  /* background-color: var(--basic-dark);
  font-size: 21px;
line-height: 26px;
text-align: center; */
}
.row4 h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.number345{
  background-color: var(--basic-dark);
  font-size: 14px;
line-height: 21px;
width: 51px;
height: 21px;
text-align: center;
color: var(--basic-black);
margin: 25px 174px 23px 175px;
}

/* .feature-item-dark{

  }
  .feature-item-dark h3{
    background-color: var(--basic-dark);
    font-size: 21px;
  line-height: 26px;
  text-align: center;
    } */
    .service{
      background-color: var(--basic-white);
    }
    .service-list{
      list-style: none;
    }
    .service-item h3{
      color: var(--basic-black);
      background-color: var(--basic-white);
      font-size: 21px;
    line-height: 21px;
    }
.service-item {
  list-style: none;
  font-size: 14px;
line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-blacksmall);
}
.service-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.interest {
  background-color: var(--basic-white);
font-size: 14px;
line-height: 21px;
}
.interest h2{
  background-color: var(--basic-white);
  font-weight: bold;
font-size: 30px;
line-height: 24px;
}
/* Contacts */

.footer-contacts {
  color: var(--basic-black);
}

.footer-contacts  {
  color: var(--basic-black);
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}
.footer-social {
  text-align: center;
}
.footer-copyright{
  text-align: right;
}
.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;

}
/* Как задать серый цвет в дата заезда и т.п*/
.searchhotel{
  background-color: var(--basic-brown);
color: var(--basic-white);
font-weight: bold;
font-size: 21px;
line-height: 26px;
}
.search{
  background-color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

/* Social button */
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  font-size: 21px;
  line-height: 26px;
}
.button-hotels{
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
.button-reserved{
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-brown);
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}
.button-find{
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  border: none;
  font-size: 14px;
  line-height: 21px;
}
.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-dark-footer);
}
.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-dark-footer);
}
